.container {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.m-h-1 {
  margin: 0 1em;
}

.m-h-2 {
  margin: 0 2em;
}

.m-h-3 {
  margin: 0 3em;
}

.m-h-4 {
  margin: 0 5em;
}

.m-h-5 {
  margin: 0 5em;
}

.m-h-center {
  margin: 0 auto;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}

.col {
  padding: 1rem;
  flex: 1;
}

.col-1 {
  max-width: 8.33%;
}

.col-2 {
  max-width: 16.66%;
}

.col-3 {
  max-width: 25%;
}

.col-4 {
  max-width: 33.33%;
}

.col-5 {
  max-width: 41.66%;
}

.col-6 {
  max-width: 50%;
}

.col-7 {
  max-width: 58.33%;
}

.col-8 {
  max-width: 66.67%;
}

.col-9 {
  max-width: 75%;
}

.col-10 {
  max-width: 83.33%;
}

.col-11 {
  max-width: 91.67%;
}

.col-12 {
  max-width: 100%;
}

.gap-1,
.gap {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }

  .col-xxl-1 {
    max-width: 8.33%;
  }

  .col-xxl-2 {
    max-width: 16.66%;
  }

  .col-xxl-3 {
    max-width: 25%;
  }

  .col-xxl-4 {
    max-width: 33.33%;
  }

  .col-xxl-5 {
    max-width: 41.66%;
  }

  .col-xxl-6 {
    max-width: 50%;
  }

  .col-xxl-7 {
    max-width: 58.33%;
  }

  .col-xxl-8 {
    max-width: 66.67%;
  }

  .col-xxl-9 {
    max-width: 75%;
  }

  .col-xxl-10 {
    max-width: 83.33%;
  }

  .col-xxl-11 {
    max-width: 91.67%;
  }

  .col-xxl-12 {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .col-xl-1 {
    max-width: 8.33%;
  }

  .col-xl-2 {
    max-width: 16.66%;
  }

  .col-xl-3 {
    max-width: 25%;
  }

  .col-xl-4 {
    max-width: 33.33%;
  }

  .col-xl-5 {
    max-width: 41.66%;
  }

  .col-xl-6 {
    max-width: 50%;
  }

  .col-xl-7 {
    max-width: 58.33%;
  }

  .col-xl-8 {
    max-width: 66.67%;
  }

  .col-xl-9 {
    max-width: 75%;
  }

  .col-xl-10 {
    max-width: 83.33%;
  }

  .col-xl-11 {
    max-width: 91.67%;
  }

  .col-xl-12 {
    max-width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 992px;
  }

  .col-lg-1 {
    max-width: 8.33%;
  }

  .col-lg-2 {
    max-width: 16.66%;
  }

  .col-lg-3 {
    max-width: 25%;
  }

  .col-lg-4 {
    max-width: 33.33%;
  }

  .col-lg-5 {
    max-width: 41.66%;
  }

  .col-lg-6 {
    max-width: 50%;
  }

  .col-lg-7 {
    max-width: 58.33%;
  }

  .col-lg-8 {
    max-width: 66.67%;
  }

  .col-lg-9 {
    max-width: 75%;
  }

  .col-lg-10 {
    max-width: 83.33%;
  }

  .col-lg-11 {
    max-width: 91.67%;
  }

  .col-lg-12 {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .col-md-1 {
    max-width: 8.33%;
  }

  .col-md-2 {
    max-width: 16.66%;
  }

  .col-md-3 {
    max-width: 25%;
  }

  .col-md-4 {
    max-width: 33.33%;
  }

  .col-md-5 {
    max-width: 41.66%;
  }

  .col-md-6 {
    max-width: 50%;
  }

  .col-md-7 {
    max-width: 58.33%;
  }

  .col-md-8 {
    max-width: 66.67%;
  }

  .col-md-9 {
    max-width: 75%;
  }

  .col-md-10 {
    max-width: 83.33%;
  }

  .col-md-11 {
    max-width: 91.67%;
  }

  .col-md-12 {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .col-sm-1 {
    max-width: 8.33%;
  }

  .col-sm-2 {
    max-width: 16.66%;
  }

  .col-sm-3 {
    max-width: 25%;
  }

  .col-sm-4 {
    max-width: 33.33%;
  }

  .col-sm-5 {
    max-width: 41.66%;
  }

  .col-sm-6 {
    max-width: 50%;
  }

  .col-sm-7 {
    max-width: 58.33%;
  }

  .col-sm-8 {
    max-width: 66.67%;
  }

  .col-sm-9 {
    max-width: 75%;
  }

  .col-sm-10 {
    max-width: 83.33%;
  }

  .col-sm-11 {
    max-width: 91.67%;
  }

  .col-sm-12 {
    max-width: 100%;
  }
}
