header {
  margin-bottom: 1em;
  padding: 1em;
  position: sticky;
  top: 0;
  background-color: black;
  left: 0;
  right: 0;
  min-width: 100%;
  z-index: 1;
}

header > .container {
  flex-direction: row;
  align-items: last baseline;
  gap: 3em;
  /* transform: translateX(-100%); */
  animation: slideRight 0.5s linear forwards;
}

.ody-odes {
  display: flex;
  flex-direction: column;
}

.brand {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: last baseline;
}

.brand,
.brand *,
.nav-link,
.active-nav {
  font-family: "Pixelify Sans", sans-serif;
}

.top-nav {
  display: flex;
  gap: 2em;
}

.nav-link {
  font-size: 1.2em;
  text-decoration: none;
  transition: transform 0.25s;
}
.nav-link:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
}

.active-nav {
  color: lightgray;
  text-decoration: underline;
}

@media only screen and (max-width: 576px) {
  header > .container {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  .top-nav {
    justify-content: center;
  }

  .brand {
    justify-content: center;
  }
}
