#socials {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: absolute;
  left: 1em;
}

.social-container {
  display: flex;
  align-items: center;
  gap: 1em;
  transition: transform 0.25s;
}
.social-container:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
}

#socials .social-icon {
  width: 66px;
  height: 66px;
}

#socials a {
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  text-decoration: none;
}

#socials a:nth-child(1) {
  animation-delay: 0.25s;
}
#socials a:nth-child(2) {
  animation-delay: 0.5s;
}

.social-text {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  font-size: 1.2em;
}

@media only screen and (min-width: 776px) {
  #socials {
    bottom: 5em;
  }
}

@media only screen and (max-width: 576px) {
  .social-icon {
    width: 33px;
    height: 33px;
  }

  #socials {
    top: 0;
  }

  /* #socials a {
    animation: none;
  } */
}
